# Docker env variables for app container
DATABASE_HOST = ${DATABASE_HOST}
DATABASE_NAME = ${DATABASE_NAME}
DATABASE_PASSWORD = ${DATABASE_PASSWORD}
DATABASE_USER = ${DATABASE_USER}
MIGRATION_LOCATION = migrations
JWT_SECRET = ${JWT_SECRET}